@import "tailwindcss";
@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffff;
        --foreground: #0000;
    }
}
.maindiv {
    color: black;
}
.select-date {
    /* @apply flex flex-row justify-center space-x-5; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    padding-top: 20px;
}
.date-btn {
    /* @apply border p-2; */
    border: black 1px solid;
    padding: 8px;
    margin-bottom: 20px;
}
.zone-mapping {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem auto;
    max-width: 600px;
}

.zone-link {
    border: black 1px solid;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1.5rem 0;
    font-weight: bold;
}

.update-text {
    margin-top: 2.5rem;
}

.refresh-section {
    /* @apply flex justify-center mt-10 space-x-4 items-center */
    display: flex;
    justify-content: center;

    column-gap: 1rem;
    align-items: center;
}
.refresh-btn {
    /* @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 t  ransition; */
    padding-inline: 16px;
    padding-block: 8px;
    background-color: oklch(62.3% 0.214 259.815);
    color: white;
    border-radius: 0.25rem;
}
.refresh-btn:hover {
    background-color: #155dfc;
}
