@import "tailwindcss";
@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffff;
        --foreground: #0000;
    }
}
.maindiv {
    color: black;
}
.rolename {
    @apply text-yellow-500 font-bold;
}
@media (max-width: 430px) {
}
